/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  /* font-family: 'Silkscreen', sans-serif; */
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  /* background-color: #16161a; */
  background-color: #f8f8f8;
  opacity: 0.9;
  background-image: radial-gradient(circle at center center, #cfd6c1, #cdcdda),
    repeating-radial-gradient(
      circle at center center,
      #95b15f,
      #bbc1af,
      4px,
      transparent 8px,
      transparent 4px
    );
  background-blend-mode: color-burn;
  z-index: 0;
}
